#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.subs th {
  padding: 0.5rem 2rem;
}
